.devise\/sessions-new {
  padding-top: 130px;
  background-color: $gray-light;
}

.login_form {
  color: white;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  h2 {
    margin-bottom: 50px;
  }
  a {
    color: white;
    background-color: $red;
    border-radius: 2px;
    padding: 15px;
    display:block;
    margin-top: 10px;
  }
} 

