<% @videos.each do |video| %>
    <div class="video_item">
      <%= link_to video_path(video) do %>
        <div class="preview_image" style="background-image: url('<%= video.preview %>');">
      <% end %>
      <div class="index_video_info">
        <div class="index_video_name">
          <p>
            <span class="highlight">Name:</span> <br>  
            <span class="indent"><%= link_to video.name, video_path(video) %></span>
          </p>
        </div>
        <div class="index_video_description">
          <p>
            <span class="highlight">Description:</span> <br>
            <span class="indent"><%= video.description %></span> 
          </p>
        </div>
      </div>
    </div>
<% end %>

