<!-- Misschien een lege div class toevoegen met een hoogte die alleen zichtbaar is op xs zodat de video op 
kleine schermen meer in het midden wordt uitgelijnd -->

<div class="video_container">
  <!-- <div class="video_info">
    <div class="video_name">
      <%= @video.name %>
    </div>
    <div class="video_description">
      <%= @video.description %>
    </div>
  </div> -->
  <div class="video_wrapper">
    <iframe id="ytplayer" type="text/html" width="100%"
    src="https://www.youtube.com/embed/<%= @url %>?autoplay=1&fs=0&rel=0&showinfo=0"
    frameborder="0" allowfullscreen>
  </div>
</div>